body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px;
    width: 800px;
    margin: auto;
    background-color: #c9f4ec;
    color: white;
    border-radius: 10px;
}

#cvContent {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.section {
    margin-bottom: 5px;
}

.section h2 {
    margin-bottom: 5px;
}

.section p {
    margin: 0;
    padding: 0;
    color: #555;
}

img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    max-width: 150px;
}